// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

form {
    width: 50%;
    margin: auto;
}
.is-active {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1e4d51, 0 0 40px #405147, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;

}

