<template>

    <form @submit.prevent="onSubmit()" class="bg-white p-4 shadow-md rounded mt-6">

        <div class="field">
            <label>Name:</label>
            <div class="control">
                <input class="input" type="text" name="name" v-model="form.name" required>

            </div>
        </div>
        <div class="field">
            <label>Description:</label>
            <textarea class="textarea" name="description" v-model="form.description" required></textarea>
        </div>
        <div class="field">
            <label>Quantity:</label>
            <div class="control">
                <input class="input" name="quantity" type="number" v-model="form.quantity" required>

            </div>
        </div>

        <div class="field">
            <label>Price:</label>
            <div class="control">
                <input class="input" type="text" name="price" v-model="form.price" required>


            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input name="status" type="checkbox" value="1" v-model="form.status">
                Active
            </label>
        </div>
        <div class="control">
            <button type="submit" class="button is-primary">Submit</button>
        </div>
    </form>
</template>

<script>
    import router from '../../js/route';

    export default {
        name: "add-ticket",
        mounted() {
        },
        data() {
            return {form: new Form({name: "", description: '', number: '', price: '', status: '', quantity: ''})}
        },
        methods: {
            onSubmit() {
                this.form.post('ticket').then((response) => {
                        router.push({name: "home",params:{response: response}})
                    },
                    (error) => {
                        console.log(error)
                    });
            }
        }

    }
</script>

<style scoped>

</style>
