<template>
    <form @submit.prevent="onSubmit()" class="bg-white p-4 shadow-md rounded mt-6">
        <div class="field">
            <label>Name: {{ticket.name}}</label>
        </div>
        <div class="field">
            <label>Description: {{ticket.description}}</label>
        </div>
        <div class="field">
            <label>Quantity</label>
            <div class="control">
                <input id="quantity" class="input" name="quantity" type="number" v-model="form.quantity" required
                       min="1"
                >

            </div>
        </div>

        <div class="field">
            <p id="total">Total Amount : {{totalPrice}}</p>
        </div>

        <div class="control">
            <button type="submit" class="button is-primary">Submit</button>
        </div>
    </form>


</template>

<script>
    import router from "../../js/route";

    export default {
        name: "purchase-ticket",
        props: ['ticket'],
        data() {
            return {form: new Form({quantity: ''})}
        },
        mounted() {
            this.form.quantity = '1';
        },
        computed: {
            totalPrice() {
                return this.ticket.price * this.form.quantity;
            }
        },
        methods: {
            onSubmit() {
                this.form.post('ticket/purchase/' + this.ticket.id).then((response) => {
                        router.push({name: "home"})
                    },
                    (error) => {
                        console.log(error)
                    });
            }
        }
    }
</script>

<style scoped>

</style>
