<template>
    <div>
        <div class="card" v-for="ticket in tickets">
            <header class="card-header">
                <p class="card-header-title">
                    {{ticket.name}}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    {{ticket.description}}
                </div>
                <div class="content">
                    {{ticket.price}} $
                </div>

                <button class="button is-primary" v-on:click="purchaseTicket(ticket)">
                    Purchase
                </button>

            </div>

        </div>
    </div>

</template>

<script>
    import router from "../js/route";

    export default {
        name: "BuyerHome",
        data() {
            return {tickets: []}
        }, mounted() {
            axios.get('ticket').then(({data}) => {
                this.tickets = data.tickets;
            })
        },
        methods: {
            purchaseTicket(ticket) {
                router.push({name: "purchase-ticket", params: {ticket: ticket}})

            }
        }
    }
</script>

<style scoped>
    .card {
        width: 50%;
        margin: auto;
        margin-bottom: 2em;
    }
</style>
