<template>
    <div>

        <SellerHome v-if="user.type=='seller'"  >

        </SellerHome>

        <BuyerHome v-if="user.type=='buyer'">

        </BuyerHome>
    </div>

</template>

<script>
    import router from '../js/route';
    import BuyerHome from './buyerHome'
    import SellerHome from './sellerHome'

    export default {
        name: "home",
        components: {BuyerHome, SellerHome},
        data() {
            return {
                user: {id: "", type: ""},
            }
        },

        mounted() {
            axios.get('Auth').then(({data}) => {
                this.user.id = data.id;
                this.user.type = data.type;
            })
        },



    }
</script>

<style scoped>
</style>
