<template>


    <table class="table">
        <thead>
        <tr>
            <th class="text-blue-900" scope="col">Name</th>
            <th class="text-blue-900" scope="col">description</th>
            <th class="text-blue-900" scope="col">status</th>
            <th class="text-blue-900" scope="col">quantity</th>
            <th class="text-blue-900" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(ticket,index) in tickets">
            <td class="text-blue-900" scope="row">{{ticket.name}}</td>
            <td class="text-blue-900">{{ticket.description}}</td>
            <td class="text-blue-900" v-if="ticket.status">True</td>
            <td class="text-blue-900" v-if="!ticket.status">False</td>
            <td class="text-blue-900">{{ticket.quantity}}</td>
            <td>
                <div class="inline-flex">
                    <button class="btn " v-on:click="editTicket(ticket)"><i
                        class="fa fa-edit text-lg text-teal-400"></i></button>
                    <button class="btn" v-on:click="deleteTicket(ticket,index)"><i
                        class="fa fa-trash text-lg text-teal-400"></i>
                    </button>
                </div>
            </td>

        </tr>

        </tbody>
    </table>
</template>

<script>
    import router from "../js/route";

    export default {
        name: "SellerHome",
        data() {
            return {tickets: []}
        },
        mounted() {
            axios.get('ticket').then(({data}) => {
                this.tickets = data.tickets;
            })
        },
        methods: {
            editTicket(ticket) {
                router.push({name: "edit-ticket", params: {ticket: ticket}})
            },
            deleteTicket(ticket, index) {
                axios.delete('ticket/' + ticket.id).then(({data}) => {
                    this.tickets.splice(index, 1)
                })
            }
        },
    }
</script>

<style scoped>

</style>
